@model Ingogo.Model.Employee_Management.Model_View.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SPBFI - Change Password</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="~/Content/_DashBoardFarmManager/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_DashBoardFarmManager/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_DashBoardFarmManager/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="skin-blue sidebar-mini">

    <div class="login-logo">
        <a><b>Siya Pham Belie</b></a><a>Farm Ingogo</a>
    </div><!-- /.login-logo -->


    <br />
    <br />
    <div class="row">
        <div class="col col-lg-6 col-lg-offset-3">
            <div class="login-box-body">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="login-box-body col-lg-18">
                            <p class="login-box-msg">@ViewBag.Title.</p>
                            <div class="row">
                                <section id="loginForm">
                                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-offset-0 col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-offset-0 col-md-4 control-label " })
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-offset-0 col-sm-4 control-label " })
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-4 col-md-10">
                                                <input type="submit" value="Change password" class="btn btn-default" />
                                            </div>
                                        </div>
                                    }

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

            <script src="~/Content/_DashBoardFarmManager/plugins/jQuery/jQuery-2.1.3.min.js"></script>
            <script src="~/Content/_DashBoardFarmManager/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="~/Content/_DashBoardFarmManager/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
</body>

</html>
