@model Ingogo.Model.Employee_Management.Model_View.RegisterViewModel

@{
    ViewBag.Title = "EmployeeDetails";
    Layout = "~/Views/Shared/_AdminClerk.cshtml";
}

<h2>EmployeeDetails</h2>

<div>
    <h4>RegisterViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFirstTimeLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFirstTimeLogin)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "G", new { id = Model.UserProfileId }) |*@
    @Html.ActionLink("Back to List", "GetAllEmployees")
</p>
