@model IEnumerable<Ingogo.Model.Animal_Management.Model_View.FeedingIngredientViewParAll>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllFeedIngredient</title>
</head>
<body>
    <h2>Ingredients List</h2>
    <hr />
    @if (!Model.Any())
    {
        <div class="alert alert-info" role="alert">
            <div>
                <h4>Ingredient List is Empty</h4>
                <h6>Add Ingredient To List</h6>
            </div>
        </div>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Percentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockItem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IngredientMass)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Percentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IngredientMass)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id=item.FeedingIngredientsId }) |
                            @Html.ActionLink("Details", "Details", new { id=item.FeedingIngredientsId }) |*@
                        @Html.ActionLink("Remove", "DeleteFeedIngredient", new { id = item.FeedingIngredientsId })
                    </td>
                </tr>
            }

        </table>

        <span><i class="glyphicon glyphicon-saved"></i></span>
        @Html.ActionLink("Proceed with Product", "AddFeedRatio", "FeedingRatios")
    }
</body>
</html>
