@model Ingogo.Model.Treatment_Managemnt.Model_View.TreatmentRatioView

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FarmAssistance.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TreatmentRatioView</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(model => model.Percentage, new List<SelectListItem>
            {
                new SelectListItem {Text = "50%", Value = "0,5"},
                new SelectListItem {Text = "40%", Value = "0,4"},
                new SelectListItem {Text = "10%", Value = "0,1"},   
            }, "Select Percentage", htmlAttributes: new { @class = "control-label col-md-2" })
               @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Tid, "Tid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("Tid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "GetAll")
</div>
