@model Ingogo.Model.Treatment_Managemnt.Model_View.TreatmentRatioViewPar

@{
    ViewBag.Title = "DeleteRatio";
    Layout = "~/Views/Shared/_FarmAssistance.cshtml";
}

<h2>DeleteRatio</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TreatmentRatioViewPar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TreatmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumOfPecentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumOfPecentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GetAll")
        </div>
    }
</div>
